
<header class ="header">


    <h1 class="titulo-principal">Alef Silva - Portfolio</h1>
    <ul class="links-sociais">
        <li>
            <a class="github" href="https://github.com/alefFSilva" target="_blank">
                Github
            </a>
        </li>
        <li>
            <a class="linkedin" href="https://www.linkedin.com/in/alef-silva-3b4a04100/" target="_blank">
                LinkedIn
            </a>
        </li>
    </ul>
</header>
<nav>
    <ul class="navegacao">
      <% @temas.each do |tema| %>
        <li>
            <a href="#"> <%= tema.descricao  %>  </a>
        </li>
        <% end %>
    </ul>
</nav>

<main class="content">
    <section class="about">
        <h1>Sobre Mim</h1>
        <p>
            Graduado em Ciência da Computação pela Universidade Nove de Julho, adorador de tecnologia e desenvolvimento. Tenho noções de HTML, CSS e JavaScript, Ruby. Conhecimentos em desenvolvimento Mobile com Android nativo e Xamarin. Experiência profissional com C# e SQL Server.
        </p>
    </section>

    <%= render partial: 'posts' %>

</main>

<footer class="footer">
    <p>
        &copy; Alef Silva
    </p>
</footer>
