.content{
     /*border: 1px solid black; */
    
    height: auto;
    float: left;
    margin: 2em 0em 4em 0em;
    padding: 0em 0em 4em 0em;
    width: 75%;
}

.about h1{
    font-family: "Slabo", sans-serif;
    font-size: 160%;
}
.about{
    
    border-left: .4em solid red;
    width:  42em; 
    height: auto;
    text-indent: 2em;
    
    margin: 0 auto;
    
    background-color:  white;
}
.about p{
    padding: 1em;
}