.header{
    border-bottom: 0.122em solid red;  
    width: 80%;
    padding-top: 5%;
    margin: 0  auto;  
    
}

.header h1{
    font-size: 250%;
    margin: 0 0 0.6em 2em;         
    float: left;
}

.links-sociais{
    margin-left: 55em;
    margin-bottom: 1.5em;
}

.links-sociais li{
    display: inline-block; 
}

.links-sociais a{
    display: block;
    margin-right: 1rem;
    width:  32px;
    height: 32px;
    text-indent: -9999px;

}

.github{
    background-image: url(../assets/github.png);
}

.linkedin{
    background-image: url(../assets/linkedin.png);
}



