.navegacao{

    float: left;
    clear:left;
    width: 13%;
    margin: 2rem 0 0 1rem;
    box-sizing:content-box;
    
    font-size: 130%;
    font-family: "Merriweather", sans-serif;
}

.navegacao li{
    padding: .5em;
}

.navegacao :hover{
    font-size: 120%;

}